* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff2da;
    color: antiquewhite;
    font-family: sans-serif;
}

header {
    padding: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Segoe UI', system-ui, sans-serif;
    font-size: 4.7rem;
    padding:0px 70px;
    padding-top: 70px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px gray;
}



p {
    text-align: left;
    font-size: 1.3rem;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px 70px;
    padding-bottom: 40px;
    font-family: 'Times New Roman';
    font-size: 1.5rem;
}

.btn {
    align-items: left;
    background: #261d15;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    transition: all 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    text-decoration:none;
    font-family: sans-serif;
    margin-left: 70px;
    display:block;
    box-shadow: 0px;
    margin-bottom: 77px;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(184, 129, 34);
}

button:active {
    transform: scale(0.97)
}

.btn a{
    text-decoration: none;
    color:white;
    text-decoration: none;
}

.btn > a{
    text-decoration: none;
    color:white;
    text-decoration: none;
}

nav {
    display: flex;
    background: #2e1b01;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5em;
    list-style: none;

}

nav ul a{
    display:flex;
    color: antiquewhite;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 20px;
    text-decoration: none;
    padding: 19px;
    align-items: end;
}

nav > a { 
    display:flex;
    font-size: 32px;
    text-decoration: none;
}

.name1 {
    color: antiquewhite;
    font-size: 20px;
    font-family: sans-serif;
    justify-content:center;
    font-weight: bold;
    align-items: center;
    display: flex;
}

section{
    padding: 50px;
}

footer {
    background: #2e1b01;
    padding: 10px;
    color: antiquewhite;
    text-align: center;
    font-family: serif;
}

.bxc {
    color: #261d15;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    list-style: none;
    font-size: 1.3rem;
    display:flex;
    img {
    width: 400px;
    height: 600px;
    align-items: center;
    padding: 20px 20px;
    margin:auto;
}
    
}


.sc {
    padding: 20px 50px;
    color:#261d15
}

.pc{
    justify-content: flex-start;
    align-items: flex-start;
    color: #868686;
    font-family: sans-serif;
    font-size: 1.3rem;
    text-align: left;

}

.hc {
    color:#261d15;
}

.home {
    display:grid;
}

.home-image {
    grid-column: 1;
    grid-row: 1;
    img{
        width: 100%;
    }
}

.home-text {
    grid-column: 1;
    grid-row: 1;
    align-items: flex-start;
    justify-content: center;

}

.yuu {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    gap:70px;
    justify-content:center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}
 
.uiu {
    background: #ffeac7;
    border-radius: 16px;
    padding: 30px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2e1b01;
    flex-wrap:wrap;
    flex: 1 1 calc(33.333% - 24px);
    border-left-style: solid;
    border-color: #2e1b01;
    border-width: 5px;
}

.hp {
    padding:20px 20px;
    font-size: 1.3rem;
}

h2 {
    padding: 0px 20px;
}

.p-content {
    color:#2e1b01;
    font-size: 1.7rem;
    text-align: left;
    padding: 0px 50px;
}

.h2-content {
    padding: 10px 50px;
}

.id {
    border: solid;
    border-radius: 12px;
    border-color: #ffeac7;
    padding:20px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex: 1;
    color:#2e1b01;
    width:30rem;
    height: 30rem;
    img{
        width:150px;
        height: 150px;
        border-radius: 50%;

    }
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.p-id {
    font-size: 1.3rem
}
h3 {
    background:#b66926;
    color: white;
    padding:5px 5px;
    border-radius: 5px;
    font-size: 1rem;
}

.head-authors {
    color:#2e1b01;
}
